[submodule "docker-usbhub"]
	path = docker-usbhub
	url = https://github.com/suidroot/docker-usbhub.git
[submodule "docker-greatfet"]
	path = docker-greatfet
	url = https://github.com/suidroot/docker-greatfet.git
[submodule "docker-msp430"]
	path = docker-msp430
	url = https://github.com/suidroot/docker-msp430.git
[submodule "chipwhisperer5-docker"]
	path = chipwhisperer5-docker
	url = https://github.com/suidroot/chipwhisperer5-docker.git
[submodule "docker-manalyze"]
	path = docker-manalyze
	url = https://github.com/suidroot/docker-manalyze.git
